{{!-- <h1>Hello Template Engine！</h1> --}}

<form action="/" method="post">
  {{!-- エンコードタイプのこと --}}
  <h3>テキストをアップロードする</h3>
  <p>評価者との関係：</p>
  <input type="text" name="hyouka_relationship" /><br>
  <p>評価内容　　　：</p>
  <input type="text" name="hyouka_content_1" /><br>
  <input type="submit" /> 
  {{!-- type="submit"にしないと、ポストメソッドが発動しない --}}

<div>
  {{!-- テンプレートエンジンの書き方 --}}
  <P>↓に保存されたテキストが出力されます。</P>
  <p>---------------------------------------------</p>

  {{#each rows}}
  <p>保存日　　　　：{{this.hyouka_day}}</p>
  <p>評価者との関係：{{this.hyouka_relationship}}</p>
  <p>評価内容　　　：{{this.hyouka_content_1}}</p>
  <p>---------------------------------------------</p>
  {{/each}}
</div>


</form>

